* {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    color: #102D59;
}

.white-text {
    color: white !important;
}

.blue-text {
    color: #102D59 !important;
}

a {
    text-decoration: none !important;
}

.main-body {
    padding: 50px 150px 50px 150px !important;
    background-color: #F3F3F3;
}

.main-body h1, .main-body h2 {
    color: #102D59;
}

#header {
    background-color: white;
    padding: 15px 150px 15px 150px;
    color: #102D59;
}

#header-logo {
    margin: auto;
}

#header a {
    color: #102D59 !important;
    text-decoration: none;
}

#website-name {
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    border-left: 2px solid #102D59;
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
}

#footer {
    color: white !important;
}

#footer-top {
    background-color: #102D59;
    padding: 15px 150px 15px 150px;
}

#footer .table {
    margin-top: 10px;
    font-size: 12px;
    border: 1px solid;
    text-align: center;
}

#footer .table td {
    border: 1px solid white;
    padding: 15px 0 15px 0;
    color: white !important;
}

#footer .table .nama-prodi {
    border: 1px solid white;
    padding: 5px 0 5px 0;
}

#footer .table .tenggat {
    width: 75%;
}

#footer .table .akreditasi {
    width: 25%;
    font-size: 36px;
}

#footer .link-a {
    text-transform: uppercase;
    color: #FE7D15;
    text-decoration: none;
    font-size: 13px;
}

#footer-bot {
    background-color: #0A244D;
    padding: 10px 150px 10px 150px;
}

.footer-top-header {
    font-weight: 600;
}

#sidenav{
    padding: 50px 35px 0 35px;
}

.sidenav-header {
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0 10px 0;
}

.sidenav-body-list {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #D8D8D8;
}